BasedOnStyle: google
IndentWidth: 4
AccessModifierOffset: -4
AllowShortBlocksOnASingleLine: Never
AllowShortFunctionsOnASingleLine: None
AllowShortLambdasOnASingleLine : Empty
BreakBeforeBinaryOperators: All
AlignOperands: false
SpaceAfterCStyleCast: true
ColumnLimit: 100
PointerAlignment: Left
DerivePointerAlignment: false

BreakConstructorInitializersBeforeComma: true
ConstructorInitializerAllOnOneLineOrOnePerLine: false