---
Checks:            '-*,*,-llvm-*,-llvmlibc-*,-google-build-using-namespace,-modernize-use-trailing-return-type'
WarningsAsErrors:  ''
HeaderFilterRegex: '.*'
FormatStyle:       'Google'
User:              dell
